.card-border {
  border: 1px solid transparent;
}

.card-border:hover {
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}

.translate-center {
  translate: 30% -30%;
  top: 5px;
  right: 5px;
}

.text-decoration-none {
  text-decoration: none;
}
